<h2>Agregar nuevas celebridades</h2>

<form action="" method="POST">

<label for="name"> Nombre:</label>
<input type="text" name="name">
<br>
<label for="occupation"> Ocupacion:</label>
<input type="text" name="occupation">
<br>
<label for="catchPhrase"> CatchPhrase</label>
<input type="text" name="catchPhrase">

<button> agregar </button>
</form>